body{
    background: rgb(31,122,140);
    background: linear-gradient(90deg, rgba(31,122,140,0.3200630594034489) 0%, rgba(43,45,66,0.5469538157059699) 100%);
}
.carousel-control-prev,.carousel-control-next{
    width:7%;
    background: transparent !important;
}
.carousel-control-prev:hover{
    background: linear-gradient(90deg, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0) 100%) !important;
}
.carousel-control-next:hover{
    background: linear-gradient(270deg, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0) 100%) !important;
}
.carousel-inner{
    /* display:flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.carousel-inner .carousel-item{
    /* width: 80%; */
    min-height: 80vh;
    /* margin: 0 auto; */
    /* font-size: 2rem; */
    padding: 10vh 10%;
}
.images{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.images img{
    height: auto;
    width: 40%;
    padding-top:10px;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    /* height: 10vh; */
    padding:2vh;
}
.footer>*{
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 995px) {
    .footer{
        position: relative;
    }
    .images{
        flex-direction: row !important;
    }
    .images img{
        padding-right: 10px;
        width: 27%;

    }
}